@import 'variables';
@import 'sidebar';
@import 'content';
@import 'header';
@import 'container';
@import 'footer';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.sidebar {
    background-color: $sidebar--color;
    width: 150px;
    height: 100vh;
    color: $text--color--white;
}

.content {
    overflow-y: scroll;
}

@media screen and(max-width: 390px) {
    .container__list {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
    body.active {
        .sidebar {
            display: block;
            width: 150px;
        }
    }
    .footer {
        position: static;
    }
}