@import 'variables';
@import 'sidebar';
@import 'content';
@import 'header';
@import 'container';
@import 'footer';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.sidebar {
    background-color: $sidebar--color;
    width: 150px;
    height: 100vh;
    color: $text--color--white;
}

@media screen and(max-width: 390px) {
    .container__list {
        flex-direction: row;
    }
}